<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
		<meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
		<title>认筹</title>
		<link rel="stylesheet" type="text/css" href="__CSS__/aui.css" />
		<link rel="stylesheet" type="text/css" href="__CSS__/home.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/common.css" />
	</head>
	<style>
		ul, li{
			line-height: 1.6rem!important;
		}
		.aui-list-item-title div {
			display: inline-block;
			flex: 1;
			text-align: center;
			font-size: 0.7rem;
		}
		.aui-list .aui-list-item-title div {
			color: #D5D5D8;
		}
		.aui-list-item-title div span {
			color: #316dcc;
		}
		.content-title{
			margin: 0.75rem;
			border-left: 2px solid #fff;
			padding-left: 0.5rem;
		}
		.recognize-headinfo{
			height: 12rem;
			overflow: hidden;
			background-image: url(__IMG__/common/recognizebkg.png);
			background-size: 100% 100%;
			background-repeat: no-repeat;
		}
		.recognize-headinfo .headinfo-img{
			margin: 1.5rem auto 1rem auto;
			width: 7rem;
			display: block;
		}
		.headinfo-list {
			display: flex;
			height: 2.5rem;
			align-items: center;
			background: #0003;
		}
		.headinfo-list-item{
			border-right: 1.5px solid #fff;
			height: 1.6rem;
			flex: 1;
		}
		.headinfo-list-item p{
			text-align: center;
		}
		
	</style>
	<body>
		<div id="app">
			<div class="recognize-headinfo">
				<img class="headinfo-img" src="__IMG__/home/logo.png"/>
				<div class="headinfo-list">
					<div class="headinfo-list-item">
						<p>
							认购币价
						</p>
						<p>
							{$data.price}/个
						</p>
					</div>
					<div class="headinfo-list-item">
						<p>
							剩余认购数量
						</p>
						<p>
							{$data.surplus}
						</p>
					</div>
					<div class="headinfo-list-item" style="border-right: none;">
						<p>
							ETD
						</p>
						<p>
							{$data.etd_num}
						</p>
					</div>
				</div>
			</div>
			<div class="content-title" style="font-size: 0.7rem;">
				我要认购
			</div>
			<div class="aui-content aui-margin-b-15 divbckg withmoney-info">
			    <ul class="aui-list aui-list-in">
			        <li class="aui-list-item">
			        	<div class="aui-list-item-inner">
			                <div class="aui-list-item-title" style="width:100%;color: #FFFFFF;display: flex;justify-content: space-between;">
			                	<div class="aui-list-item-input">
				                    <input type="text" placeholder="请输入认购个数" id="num" onkeyup="changeTotalPrice()">
				                </div>
			                	<span style="color: #316DCC;display: flex;align-items: center;" id="total">共计 0 USDT</span>
			                </div>
			            </div>
			        </li>
			        <li class="aui-list-item">
			            <div class="aui-list-item-inner" style="border-bottom:none">
			                <div class="aui-list-item-title" style="font-size: 0.8rem;width: 100%;text-align: center;" onclick="refer()">提交</div>
			            </div>
			        </li>
			    </ul>
			</div>
			<div class="aui-content" style="margin-bottom: 4rem">
				<div class="content-title" style="font-size: 0.7rem;">
					认购列表
				</div>
			    <ul class="aui-list aui-list-in" >
			        <li class="aui-list-item">
			            <div class="aui-list-item-inner">
			                <div class="aui-list-item-title" style="display: flex;width: 100%;">
				                	<div ><span>会员ID</span></div>
				                	<div ><span>认购金额</span></div>
				                	<div ><span>认购时间</span></div>
			                </div>
			            </div>
			        </li>
					<div id="refer_list">
						<!--<li class="aui-list-item">-->
							<!--<div class="aui-list-item-inner">-->
								<!--<div class="aui-list-item-title" style="display: flex;width: 100%;">-->
									<!--<div >45232</div>-->
									<!--<div >2000.00</div>-->
									<!--<div style="white-space: nowrap;">2018-08-12 07:14:43</div>-->
								<!--</div>-->
							<!--</div>-->
						<!--</li>-->
						<!--<li class="aui-list-item">-->
							<!--<div class="aui-list-item-inner">-->
								<!--<div class="aui-list-item-title" style="display: flex;width: 100%;">-->
									<!--<div >45232</div>-->
									<!--<div >2000.00</div>-->
									<!--<div style="white-space: nowrap;">2018-08-12 07:14:43</div>-->
								<!--</div>-->
							<!--</div>-->
						<!--</li>-->
						<!--<li class="aui-list-item">-->
							<!--<div class="aui-list-item-inner">-->
								<!--<div class="aui-list-item-title" style="display: flex;width: 100%;">-->
									<!--<div >45232</div>-->
									<!--<div >2000.00</div>-->
									<!--<div style="white-space: nowrap;">2018-08-12 07:14:43</div>-->
								<!--</div>-->
							<!--</div>-->
						<!--</li>-->
						<!--<li class="aui-list-item">-->
							<!--<div class="aui-list-item-inner">-->
								<!--<div class="aui-list-item-title" style="display: flex;width: 100%;">-->
									<!--<div >45232</div>-->
									<!--<div >2000.00</div>-->
									<!--<div style="white-space: nowrap;">2018-08-12 07:14:43</div>-->
								<!--</div>-->
							<!--</div>-->
						<!--</li>-->
						<!--<li class="aui-list-item">-->
							<!--<div class="aui-list-item-inner">-->
								<!--<div class="aui-list-item-title" style="display: flex;width: 100%;">-->
									<!--<div >45232</div>-->
									<!--<div >2000.00</div>-->
									<!--<div style="white-space: nowrap;">2018-08-12 07:14:43</div>-->
								<!--</div>-->
							<!--</div>-->
						<!--</li>-->
					</div>

			    </ul>
			</div>
		</div>
		<footer class="aui-bar aui-bar-tab aui-default-t-border" id="footer">
			<div class="aui-bar-tab-item" id="nav_footer_home" onclick="footeronlcik(this,1)">
				<img class="aui-bar-tab-icon footer-bar-icon" src="__IMG__/footer/home.png" alt="">
				<div class="aui-bar-tab-label " >首页</div>
			</div>
			<div class="aui-bar-tab-item" id="nav_footer_transaction" onclick="footeronlcik(this,2)">
				<img class="aui-bar-tab-icon footer-bar-icon" src="__IMG__/footer/on_transaction.png" alt="">
				<div class="aui-bar-tab-label aui-active">认购</div>
			</div>
			<div class="aui-bar-tab-item" id="nav_footer_quotation" onclick="footeronlcik(this,3)">
				<img class="aui-bar-tab-icon footer-bar-icon" src="__IMG__/footer/quotation.png" alt="">
				<div class="aui-bar-tab-label">交易</div>
			</div>
			<div class="aui-bar-tab-item" onclick="footeronlcik(this,4)">
				<img class="aui-bar-tab-icon footer-bar-icon" src="__IMG__/footer/mine.png" alt="">
				<div class="aui-bar-tab-label " >钱包</div>
			</div>
		</footer>
	</body>
	<script src="__JS__/jquery.min.js"></script>
	<script type="text/javascript" src="/static/global/js/common.js"></script>
	<script type="text/javascript" src="/static/global/layer/layer.js"></script>
	<script type="text/javascript">

		$(function () {
            referList();
        });

		function referList() {
		    $.ajax({
				url: '/mobile/recognize/referList',
				type: 'get',
				success: function (res) {
					if(res.success)
					    list(res.data);
                }
			})
        }

        function list(list) {
            var htmls = [];
            for (var i = 0; i < list.length; i++) {
                htmls.push('<li class="aui-list-item">');
                htmls.push('<div class="aui-list-item-inner">');
                htmls.push('<div class="aui-list-item-title" style="display: flex;width: 100%;">');
                htmls.push('<div >'+list[i].to_user_id+'</div>');
                htmls.push('<div >'+list[i].amount+'</div>');
                htmls.push('<div style="white-space: nowrap;">'+list[i].update_time+'</div>');
                htmls.push('</div>');
                htmls.push('</div>');
                htmls.push('</li>');
            }
            $('#refer_list').append(htmls.join(''));
        }
		
		function refer() {
			var num = $('#num').val();

            if(num < 1000)
            {
                return msg('认购数量需1000起');
            }

			var data = {
			    num: num,
			};

			$.ajax({
				url: '/mobile/recognize/refer',
				type: 'post',
				data: data,
				success: function (res) {
					if(res.success)
					{
					    msg('认购成功');
					    window.location.href = '/mobile/recognize/index';
					}else
					{
					    return msg(res.message);
					}
                }
			})
        }

        function isNumberBy100(ssn) {
            var re = /^[0-9]*[0-9]$/i; //校验是否为数字
            if(re.test(ssn) && ssn % 100 === 0)
            {
                return true;
            }else
            {
                return false;
            }
        }

        function changeTotalPrice() {
            var num = $('#num').val();
            var price = "{$data.price}";
            var total = num * price;
            $('#total').text('共计 ' + total.toFixed(2) + ' USDT');
        }

        //交易tab点击
        function tabitemclick(el)
        {
            if($(el).hasClass('auitab-active'))
                return;
            else
            {
                $('.auitab-active').removeClass('auitab-active');
                $(el).addClass('auitab-active')
            }
        }
        //底部栏点击
        function footeronlcik(el,tab)
        {
            var imgpath = $(el).children('img').attr('src').split('/');
            var length = imgpath.length;
            var imgsub = imgpath[imgpath.length-1].substring(0,2);
//            if(imgsub=='on')
//                return;
//            else
            {
                var activeimg = $('.aui-active').siblings('img').attr('src').split('/')
                activeimg[activeimg.length-1] = activeimg[activeimg.length-1].replace('on_','')
                activeimg = activeimg.join('/')
                console.log(activeimg)
                $('.aui-active').siblings('img').attr('src',activeimg)
                $('.aui-active').removeClass('aui-active')
                //
                imgpath[length-1] = 'on_'+imgpath[length-1];
                imgpath = imgpath.join('/');
                $(el).children('img').attr('src',imgpath)
                $(el).children('.aui-bar-tab-label').addClass('aui-active')
            }

            switch (tab)
            {
                case 1:
                    window.location.href = '/mobile/index/index';
                    break;
                case 2:
                    window.location.href = '/mobile/recognize/index';
                    break;
                case 3:
                    window.location.href = '/mobile/deal/index';
                    break;
                case 4:
                    window.location.href = '/mobile/wallet/index';
                    break;
            }
        }
	</script>
	</script>
</html>
