<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
		<meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
		<title>转账</title>
		<link rel="stylesheet" type="text/css" href="__CSS__/aui.css" />
		<link rel="stylesheet" type="text/css" href="__CSS__/common.css" />
		<link rel="stylesheet" type="text/css" href="__CSS__/home.css"/>
	</head>
	<style>
	</style>
	<body>
		<div id="app">
			<header class="nav-header aui-bar aui-bar-nav" id="aui-header">
		        <a class="aui-pull-left" >
		            <span class="aui-iconfont aui-icon-left" onclick="javascript:history.go(-1);" ></span>
		        </a>
		        <div class="aui-title">转账</div>
		    </header>
		    <div class="aui-content aui-margin-b-15">
			    <ul class="aui-list aui-list-in">
			        <li class="aui-list-item">
			            <div class="aui-list-item-inner">
			                <div class="aui-list-item-title">
			                	<div class="aui-list-item-title">
				                	资产类：<span>ETD</span>
				                	<!--<div class="aui-list-item-input">
					                    <select style="color: #FFFFFF;display: inline-block;width: 2.5rem;">
										  <option value="TM">TM</option>
										  <option value="ITTM">ITTM</option>
										  <option value="KEY">KEY</option>
										</select>
										<img src="../../image/common/icon-down.png" style="width: 0.7rem;margin-left: -1rem;"/>
					                </div>-->
				                </div>
			                </div>
			            </div>
			        </li>
			        <li class="aui-list-item">
			            <div class="aui-list-item-inner">
			                <div class="aui-list-item-title">
			                	接收帐号：
			                	<div class="aui-list-item-input">
				                    <input type="text" id="username" placeholder="请输入接收方用户名">
				                </div>
			                </div>
			            </div>
			        </li>
			        <li class="aui-list-item">
			            <div class="aui-list-item-inner">
			                <div class="aui-list-item-title">
			                	数量：
			                	<div class="aui-list-item-input">
				                    <input type="number" id="num" placeholder="请输入数量">
				                </div>
			                </div>
			            </div>
			        </li>
			        <li class="aui-list-item">
			            <div class="aui-list-item-inner">
			                <div class="aui-list-item-title">
			                	支付密码：
			                	<div class="aui-list-item-input">
				                    <input type="password" id="pay_password" placeholder="请输入支付密码">
				                </div>
			                </div>
			            </div>
			        </li>
			    </ul>
			    <div class="aui-btn bottombtn" onclick="confirm()">确定</div>
			</div>
		</div>
	</body>
	<script src="__JS__/jquery.min.js"></script>
	<script type="text/javascript" src="/static/global/js/common.js"></script>
	<script type="text/javascript" src="/static/global/layer/layer.js"></script>
	<script type="text/javascript">
		function confirm() {
			var data = {
			    username: $('#username').val(),
				num: $('#num').val(),
				pay_password: $('#pay_password').val()
			};

			$.ajax({
				url: '/mobile/index/transAccount',
				type: 'post',
				data: data,
				success: function (res) {
					if(res.success)
					{
					    msg('转账成功');
					    window.location.href = '/mobile/index/index';
					}else
					    return msg(res.message);
                }
			})
        }
	</script>
</html>













