<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
		<meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
		<title>我的</title>
		<link rel="stylesheet" type="text/css" href="__CSS__/aui.css" />
		<link rel="stylesheet" type="text/css" href="__CSS__/common.css" />
		<link rel="stylesheet" type="text/css" href="__CSS__/home.css"/>
	</head>
	<style>
		.mine-user{
			margin-top: 2.5rem;
		}
		.user-info{
			text-align: center;
			padding: 0.5rem 0;
			color: #0BCBE1;
		}
		.aui-list-item-label-icon img {
			width: 1.5rem;
		}
		.aui-list .aui-list-item-arrow:before{
			/*border: 1px solid #0BCBE1;*/
		}
		.recognize-headinfo{
			height: 8rem;
			overflow: hidden;
			background-image: url(__IMG__/mine/minebkg.png);
			background-size: 100% 100%;
			background-repeat: no-repeat;
			padding-top: 2rem;
		}
		.headinfo-list {
			display: flex;
			height: 2.5rem;
			align-items: center;
			background: #0003;
		}
		.headinfo-list-item{
			border-right: 1.5px solid #fff;
			height: 1.6rem;
			flex: 1;
		}
		.headinfo-list-item p{
			text-align: center;
			font-size: 0.7rem;
		}
		.headinfo-title{
			font-size: 0.9rem;
			margin: 1rem;
			text-align: center;
		}
		.aui-list-item-inner {
			border-bottom: none;
			margin-right: 0rem!important;
		}
		.aui-list-item{
			border-bottom: 0.5px solid #316dcc!important;
			padding-left: 0!important;
			margin: 0 0.75rem!important;
		}
	</style>
	<body>
		<div id="app">
			<!--<a class="aui-pull-left" >-->
				<!--<span class="aui-iconfont aui-icon-left" onclick="javascript:history.go(-1);" ></span>-->
			<!--</a>-->
			<div class="recognize-headinfo">
				<p class="headinfo-title">累计收益：<span>0</span></p>
				<div class="headinfo-list">
					<div class="headinfo-list-item">
						<p>
							{$usdt}
						</p>
						<p>
							USDT
						</p>
					</div>
					<!--<div class="headinfo-list-item">-->
						<!--<p>-->
							<!--{$rmb}-->
						<!--</p>-->
						<!--<p>-->
							<!--余额-->
						<!--</p>-->
					<!--</div>-->
					<div class="headinfo-list-item" style="border-right: none;">
						<p>
							{$etd}
						</p>
						<p>
							ETD
						</p>
					</div>
				</div>
			</div>
			<div class="aui-content aui-margin-b-15">
			    <ul class="aui-list aui-list-in">
			        <li class="aui-list-item aui-list-item-middle" onclick="javascript:location.href=''">
			        	<div class="aui-list-item-label-icon">
	                		<img src="__IMG__/mine/costnotes.png"/>
	                	</div>
			            <div class="aui-list-item-inner aui-list-item-arrow">
			                <div class="aui-list-item-title">
			                	账单记录
			                </div>
			            </div>
			        </li>
			         <li class="aui-list-item aui-list-item-middle" onclick="javascript:location.href=''">
			        	<div class="aui-list-item-label-icon">
	                		<img src="__IMG__/mine/ETDnote.png"/>
	                	</div>
			            <div class="aui-list-item-inner aui-list-item-arrow">
			                <div class="aui-list-item-title">
			                	ETD记录
			                </div>
			            </div>
			        </li>
			         <li class="aui-list-item aui-list-item-middle" onclick="javascript:location.href='toWithdrawUSDT'">
			        	<div class="aui-list-item-label-icon">
	                		<img src="__IMG__/mine/withmoney.png"/>
	                	</div>
			            <div class="aui-list-item-inner aui-list-item-arrow">
			                <div class="aui-list-item-title">
			                	USDT提币
			                </div>
			            </div>
			       	 </li>
			         <li class="aui-list-item aui-list-item-middle" onclick="javascript:location.href=''">
			        	<div class="aui-list-item-label-icon">
	                		<img src="__IMG__/mine/withforimtoken.png"/>
	                	</div>
			            <div class="aui-list-item-inner aui-list-item-arrow">
			                <div class="aui-list-item-title">
			                	提币到imToken
			                </div>
			            </div>
			        </li>
			         <!--<li class="aui-list-item aui-list-item-middle" onclick="javascript:location.href=''">-->
			        	<!--<div class="aui-list-item-label-icon">-->
	                		<!--<img src="__IMG__/mine/kefu.png"/>-->
	                	<!--</div>-->
			            <!--<div class="aui-list-item-inner aui-list-item-arrow">-->
			                <!--<div class="aui-list-item-title">-->
			                	<!--联系客服-->
			                <!--</div>-->
			            <!--</div>-->
			        <!--</li>-->
					<li class="aui-list-item aui-list-item-middle" onclick="javascript:location.href='toAddress'">
						<div class="aui-list-item-label-icon">
							<img src="__IMG__/mine/costnotes.png"/>
						</div>
						<div class="aui-list-item-inner aui-list-item-arrow">
							<div class="aui-list-item-title">
								钱包地址
							</div>
						</div>
					</li>
					<li class="aui-list-item aui-list-item-middle" onclick="javascript:location.href='toInvite.html'">
						<div class="aui-list-item-label-icon">
							<img src="__IMG__/mine/invite.png"/>
						</div>
						<div class="aui-list-item-inner aui-list-item-arrow">
							<div class="aui-list-item-title">
								邀请
							</div>
						</div>
					</li>
			         <li class="aui-list-item aui-list-item-middle" onclick="javascript:location.href='toSetup.html'">
			        	<div class="aui-list-item-label-icon">
	                		<img src="__IMG__/mine/setup.png"/>
	                	</div>
			            <div class="aui-list-item-inner aui-list-item-arrow">
			                <div class="aui-list-item-title">
			                	设置
			                </div>
			            </div>
			        </li>
			    </ul>
			</div>
			<div class="aui-btn bottombtn" style="position: relative;bottom: auto;margin-top: 1rem;" onclick="loginOut()">退出登录</div>
		</div>
		<footer class="aui-bar aui-bar-tab aui-default-t-border" id="footer">
			<div class="aui-bar-tab-item" id="nav_footer_home" onclick="footeronlcik(this,1)">
				<img class="aui-bar-tab-icon footer-bar-icon" src="__IMG__/footer/home.png" alt="">
				<div class="aui-bar-tab-label " >首页</div>
			</div>
			<div class="aui-bar-tab-item" id="nav_footer_transaction" onclick="footeronlcik(this,2)">
				<img class="aui-bar-tab-icon footer-bar-icon" src="__IMG__/footer/transaction.png" alt="">
				<div class="aui-bar-tab-label">认购</div>
			</div>
			<div class="aui-bar-tab-item" id="nav_footer_quotation" onclick="footeronlcik(this,3)">
				<img class="aui-bar-tab-icon footer-bar-icon" src="__IMG__/footer/quotation.png" alt="">
				<div class="aui-bar-tab-label">交易</div>
			</div>
			<div class="aui-bar-tab-item" onclick="footeronlcik(this,4)">
				<img class="aui-bar-tab-icon footer-bar-icon aui-active"  src="__IMG__/footer/on_mine.png" alt="">
				<div class="aui-bar-tab-label aui-active" >钱包</div>
			</div>
		</footer>
	</body>
	<script src="__JS__/jquery.min.js"></script>
	<script type="text/javascript">
        function loginOut(){
            $.ajax({
                url: '/mobile/user/logout',
                success: function(res){
                    if (res.success) {
                        window.location.href = '/mobile/user/login';
                    } else {
                        msg(res.message);
                    }
                },
                error: function (res) {

                }
            })
//            confirm('您确定要退出登录吗？', function(){
//
//            })
        }

        //交易tab点击
        function tabitemclick(el)
        {
            if($(el).hasClass('auitab-active'))
                return;
            else
            {
                $('.auitab-active').removeClass('auitab-active');
                $(el).addClass('auitab-active')
            }
        }
        //底部栏点击
        function footeronlcik(el,tab)
        {
            var imgpath = $(el).children('img').attr('src').split('/');
            var length = imgpath.length;
            var imgsub = imgpath[imgpath.length-1].substring(0,2);
//            if(imgsub=='on')
//                return;
//            else
            {
                var activeimg = $('.aui-active').siblings('img').attr('src').split('/')
                activeimg[activeimg.length-1] = activeimg[activeimg.length-1].replace('on_','')
                activeimg = activeimg.join('/')
                console.log(activeimg)
                $('.aui-active').siblings('img').attr('src',activeimg)
                $('.aui-active').removeClass('aui-active')
                //
                imgpath[length-1] = 'on_'+imgpath[length-1];
                imgpath = imgpath.join('/');
                $(el).children('img').attr('src',imgpath)
                $(el).children('.aui-bar-tab-label').addClass('aui-active')
            }

            switch (tab)
			{
				case 1:
				    window.location.href = '/mobile/index/index';
				    break;
				case 2:
				    window.location.href = '/mobile/recognize/index';
					break;
				case 3:
				    window.location.href = '/mobile/deal/index';
				    break;
				case 4:
				    window.location.href = '/mobile/wallet/index';
				    break;
			}
        }
	</script>
</html>
